.input_text {
    width: 400px;
    background-color: #454545;
    color: #ffffff;
    height: 50px;
    text-align: end;
    line-height: 50px;
    padding-right: 20px;
    font-size: 30px;
    /* border-radius: 2px; */
}